body {
    
    background-image: linear-gradient(to right, #0d0d33, #14144b, #1a1a5a, #14144b, #0d0d33); 
    height: 100vh ;
    


}
#listItem {
    background-image: linear-gradient(to right, #0d0d33, #14144b, #1a1a5a, #14144b, #0d0d33); 
    height: auto ;
    border: solid 1px ;
    border-color: rgba(197, 135, 255, 0.842);
    position: absolute;
    
}
#sign {
 border: solid 2px;
 border-radius: 15px;
 border-color: rgba(145, 82, 145, 0.842);
}
#sign:hover {
    background-color: rgba(145, 82, 145, 0.842);
}
#login {
    border: solid 2px;
    border-radius: 15px;
    border-color: rgba(145, 82, 145, 0.842);
   
    
}
#login:hover {
    background-color: rgba(145, 82, 145, 0.842);

}
#listitem:hover {
    background-color: rgba(197, 135, 255, 0.842);
} 
.nav-item:hover {
    background-color: rgb(51, 14, 100);
    border-radius: 15px;
    
}
#page:hover {
    border-bottom: 1px solid;
    
}
#search-input {
    display: none;
    border: solid 3px;
    border-color: rgba(145, 82, 145, 0.842);


}
#button-addon2 {
    border: solid 2px;
    border-radius: 20px;
    border-color: rgba(145, 82, 145, 0.842)
}
   

#button-addon2:hover {
    background-color: rgba(145, 82, 145, 0.842);
    
}  
#home-image {
    border: solid 5px;
    border-color: rgba(145, 82, 145, 0.842);
    border-radius: 8px;
}
.card {
    transition: transform 0.4s; 
}

.card:hover {
    transform: scale(1.05); /* Kartı biraz büyütür */
    z-index: 5; /* Diğer kartların üzerine çıkmasını sağlar */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Hafif bir gölge ekler */
    border: solid 3px;
    border-color: rgba(145, 82, 145, 0.842);
}
#footerContainer {
    background-image: linear-gradient(to right, #07071f, #0b0b1d, #080827, #0b0b1d, #07071f);
}
#links:hover{
    background-color: rgba(145, 82, 145, 0.842);

}
#submitBtn:hover {
background-color: rgba(99, 20, 99, 0.842);
}
#submitBtn {
    background-color: rgba(145, 82, 145, 0.842);
    border: solid 2px;
    border-color: rgba(99, 20, 99, 0.842);
}
#btn2:hover {
    background-color: rgba(145, 82, 145, 0.842);
}